<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/main.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>MVC Concepts</h1>
            <nav>
                <ul>
                    <li>Layout Examples</li>
                    <li><a href="/Home/Index">Home</a></li>
                    <li><a href="/Home/LayoutDemo">Partials and sections</a></li>
                    <li><a href="/Home/SecondLayoutDemo">Alternative Layout</a></li>
                </ul>
                <ul>
                    <li>Data from Controller to View Examples</li>
                    <li><a href="/DataExamples/ViewBagDemo">ViewBag Demo</a></li>
                    <li><a href="/DataExamples/ViewDataDemo">ViewData Demo</a></li>
                    <li><a href="/DataExamples/ModelDemo">Model Demo</a></li>
                </ul>
                <ul>
                    <li>Data from View to Controller Examples</li>
                    <li><a href="/Home/SampleForm">Sample Form</a></li>
                    <li><a href="/Home/SampleFormModel">Sample Form (with Model)</a></li>
                    <li><a href="/Home/SendParameter">Sending Parameters</a></li>
                    <li><a href="/Home/QueryStringDemo">Query Strings</a></li>
                </ul>
            </nav>

        </header>


        @RenderBody()

    </div>

    @RenderSection("MyScripts", required:false)







</body>
</html>
