<div class="wishList">
    <h3>Wish List</h3>
    <p>This is a sample component.</p>
    <p>These are useful for features like Shopping Carts with reusable rendering logic.</p>
    <p>@ViewBag.WishListFilim</p>
 </div>