@{
    @model justAPlayMVC.Models.Book
    ViewData["Title"] = "Model Demo";
}

<h2>Data Retrieved from a Model</h2>

<table class="tableData">
    <tr>
        <td>BookTitle:</td>
        <td>@Model.BookTitle</td>
    </tr>
    <tr>
        <td>BookAuthor:</td>
        <td>@Model.BookAuthor</td>
    </tr>
</table>