@{
    ViewData["Title"] = "Sending Parameters";
}
<h1>@ViewData["Title"]</h1>



<p>Pass Paramemters in the URL</p>
<div class="twoCols">

    <div>
        <ul>
            <li><a href="~/Home/SendParameter/15">Send a Value of '15'</a></li>
            <li><a asp-controller="Home" asp-action="SendParameter" asp-route-id="25">Built with a Tag Helper value of 25</a></li>
            <li><a href="~/Home/QueryStringDemo?price=30&size=large">Send as querystring</a></li>
        </ul>
</div>

    <div>
        <table>
            <tr>
                <td>Score</td>
                <td>@ViewData["Score"]</td>
            </tr>
        </table>
    </div>

    </div>
