@{
    ViewData["Title"] = "News";
}
<h1>News Page from the NewsController</h1>


@{
    List<String> staffList = new List<String>();
    staffList.Add("Aaron");
    staffList.Add("Jane");
    staffList.Add("Sushain");
    staffList.Add("Xavier");
    staffList.Add("Ali");
    staffList.Add("Cameron");
}


@foreach (var staff in staffList)

{

    <p>@staff</p>

}

@{
    string[] cities = new string[3] { "Mumbai", "London", "New York" };
}


@foreach (var city in cities)

{

    <p>@city</p>

}